.Modal {
    position: fixed;
    z-index: 500;
    width: 70%;
    left: 15%;
    top: 26%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;

    @media (min-width: 600px) {
        
        width: 500px;
        left: calc(50% - 250px);
        
    }
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 55%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -11%);

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}
  
.textContainer {
    margin-top: -3px;
    padding: 10px 16px;
    background: white;
}

